.basket-container {
    width: 270px;

    border: 1px solid cadetblue;
    border-radius: 10px;
}

.basket-header {
    padding: 10px 20px;
    width: 270px;
    font-size: large;
    & > h2 {
        font-family: Impact;
    }
    
}

.basket-body {

    width: 270px;
    padding: 10px;

    & > p {
        color: grey;
        
    }

    &-item {
        margin-top: 12px;
        margin-bottom: 36px;
        padding: 10px;
    }

    &-total {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
        padding: 13px 0;
        border-bottom: 1px dotted grey;
        font-weight: bold;
        font-size: 1.71em;
        font-family: Impact;

    }
}

.basket-footer {

    width: 270px;
    padding: 10px;

}

.basket-checkout-container {
    margin: 10px 0px;
    padding: 10px 0px;
}

.basket-items-area {
    margin: 0px 10px 5px;
    padding: 7px 0px 10px;
    border-bottom: 1px dotted lightgray;
}

.basket-items-row {
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    

    & > .basket-items-price {
    
    padding: 0px 0px 0px 3px;
    width: 25%;
       
}

    & > .basket-items-info {
    padding: 0px 10px 0px 0px;
    width: 75%;
    }

}



.basket-actions-row{
    padding: 10px 0px 4px 0px;

    & > .basket-remove-btn {
        margin: 0px 6px 0px 0px;
        background-color: #333333;
        color: white;
    }

    &  .basket-edit-btn {
        background-color: #006991;
        color: white;
    }
}