.login-form {
    margin-top: 10rem;
    width: 100%;
    .login-form-header {
        width: 80%;
        margin: 20px auto;
    }

    .login-form-body {
        width: 60%;
        margin: 0 auto;

    }
}