.member-body-container {
    padding: 50px;
}

.profile-container {
  margin-top: 1rem;
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
}

.modal {
  top: auto !important;
  left: auto !important;
  height: auto !important;
} 

