.nav-bar {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-bottom: 0rem;
  display: flex;
  height: 70px;
  justify-content: flex-start;
  width: 100%;
}
.nav-left {
  display: flex;
  width: 20%;
  justify-content: space-between;
  & > a {
    height: 100%;
    width: 30%;
    & > img {
      margin-top: -9.5px;
      height: 60px;
    }
  }
  & > .nav-left_brand {
    width: 70%;
    margin: 10px 50px;
    color: black;
    font-size: x-large;
    font-family: fantasy;
    font-weight: bold;

    & span {
      width: 150px;
      display: flex;
      flex-direction: row;
    }
  }
}

.nav-middle {
  margin-left: 90px;
  display: flex;
  width: 700px;

}

.nav-item {
  width: 500px;
  
  color: black;
  padding: 0.65rem 1.2rem;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;

  &:hover {
    color: red;
  }
}

.nav-right {
  height: 100%;
  & > button {
    height: 100%;
    width: 180px;
}
}


