#root {
    .App {
        .ui.two.column.grid.admin-grid {            
            padding: 20px 0px 0px 0px;
            margin: 0px;
            .admin-grid-row {
                .admin-grid-col {
                    .admin-header--item {
                        padding: 5px 0px 0px 0px;
         
                    }
                }

                .admin-header-button {
                    .admin-header--create-button {
                        background-color: #00c5d9;
                        color: white;
                        font-weight: bold;
                        font-size: 16px;

                    }
                }
            }


        }
        .ui.one.column.grid.admin-search {
            width: 90%;
            margin: 0 auto;
            .row.admin-search-row {
                width: 70% !important;
                margin: 0 auto;
            }
        }
        .admin-item-container {
            .admin-item-container-inner{
                .item-table-card{
                    .item-table-header {
                        background-color: #2ba6cb;
                        .item-table-header-col {
                            background-color: white;
                            border-width: 2px;
                            .header-label {
                                background-color: #2ba6cb;
                                color: white;
                                padding: 16px;
                                text-align: center;
                            }
                        }
                    }
                    .admin-table-body {
                        .item-table-row {
                            &:hover {
                                background-color: #BDF2F2;
                            }
                            .item-table-cell {
                                .item-more {
                                    background-color: #00c5d9;
                                    color: white;
                                    font-weight: bold;
                                   

                                }

                            }
                        }
                    }
                }
            }


        }

        
    }
}