.admin-item-search {
    .admin-search-input {
        border: 1px solid #00c5d9;
        border-radius: 6px;
        padding: 5px 10px;
        font-size: 16px;
        padding: 6px 20px;
    }
    .admin-search-button {
        padding: 6px 20px;
         
 
        border-radius: 6px;
        border: 1px solid #00c5d9;
        background-color: #00c5d9;
        color: white;
        font-size: 16px;
        font-weight: bolder;
    }
}