#root {
    .App {
        .ui.two.column.grid.admin-grid {            
            padding: 20px 0px;

            .ui.header.admin-header--item {
                padding: 5px 0px 0px 0px;
 
            }
            .ui.button.admin-header--create-button {
                background-color: #00c5d9;
                color: white;
                font-weight: bold;
                font-size: 16px;
            }
        }
        .admin-item-container {
            .admin-item-container-inner{
                .item-table-card{
                    .item-table-header {
                        background-color: #2ba6cb;
                        .item-table-header-col {
                            background-color: white;
                            border-width: 2px;
                            .header-label {
                                background-color: #2ba6cb;
                                color: white;
                                padding: 16px;
                                text-align: center;
                            }
                        }
                    }
                    .admin-table-body {
                        .item-table-row {
                            &:hover {
                                background-color: #BDF2F2;
                            }
                            .item-table-cell {
                                .item-more {
                                    background-color: #00c5d9;
                                    color: white;
                                    font-weight: bold;
                                }

                            }
                        }
                    }
                }
            }


        }

        
    }
}