.top-nav-manager {
    margin: 10px 0px;
    padding: 0;
    width: 100%;
    text-decoration: none;
    display: flex;

    .top-nav-ul {
        padding: 0;
        margin: 0 auto;
        width: 80%;
        text-align: center;
        text-decoration: none;

        .nav-item {
            text-decoration: none;
            padding: 6px 10px;
        }
    }

}



.top-nav--active {
    font-weight: bold;
}